<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper" style="text-align:center">
        <p><small>[WIP]</small></p>
        <h1>Metin Uçar</h1>
        <p><strong>Designer, front-end developer and overall web enthusiast</strong></p>
        <p>Get in touch via <a href="mailto:mtn.ucar@gmail.com" title="">e-mail</a> or <a href="https://twitter.com/merovingian" rel="nofollow" title="Twitter">twitter</a>.</p>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
